:root {
	--main-color:#bf360c;
	--background-body: rgba(0,0,0,.05);
	--background: #fff;
	--text-color: rgba(0,0,0,.87);
	--link-color: #4496cc;
	--link-color-hover: #337199;
	--link-color-empty: #c00;
	--link-color-empty-hover: #900;
	--link-nav: #fff;
	--borders: #ccc;
	--highlight:#fff8ab;
	--highlight-text: #666;
	--diff-del:#fdd;
	--diff-del-text:red;
	--diff-add:#dfd;
	--diff-add-text:green;
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-color:#202b38;
		--background-body: #161f27;
		--background: #202b38;
		--text-color: #dbdbdb;
		--link-color: #4496cc;
		--link-color-hover: #337199;
		--link-color-empty: #c00;
		--link-color-empty-hover: #900;
		--link-nav: #ccc;
		--borders: #ccc;
		--highlight:#efdb43;
		--highlight-text: #666;
		--diff-del:#fdd;
		--diff-del-text:red;
		--diff-add:#dfd;
		--diff-add-text:green;
	}
	img {
		filter: brightness(.8) contrast(1.2);
	  }
}


html,body {
	margin:0;
	padding:0;
	background: var(--background-body);
	color:var(--text-color);
	font-family:'RobotoRegular',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Arial,"Open Sans","Noto Sans","Fira Sans","Droid Sans",Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Emoji Regular";
	word-wrap:break-word;
	font-size:1em;
}

a {
	color:var(--link-color);
	text-decoration:none;
}

a:hover {
	color:var(--link-color-hover);
	text-decoration:none;
}

a.empty {
	color:var(--link-color-empty);
}

a.empty:hover {
	color:var(--link-color-empty-hover);
}

.block {
	background:var(--background-body);
	text-align:center;
	margin:0;
	padding:.5em;
}

nav {
	background:var(--main-color);
	color:var(--link-nav);
	min-height:64px;
	display:flex;
	align-items:center;
	padding:0 15px;
	box-shadow:0 2px 5px var(--background-body);
	font-weight:500;
	font-size:1em;
	margin:auto;
	justify-content:space-between;
	z-index:999;
}

footer {
	background:var(--main-color);
	color:var(--link-nav);
	padding:1em;
	font-size:1em;
	margin:auto;
	text-align:center;
	vertical-align:center;
}

nav > a,footer > a {
	padding:10px;
	color:var(--link-nav);
	text-decoration:none;
}

nav > a:hover,footer > a:hover {
	border-bottom:3px solid var(--link-nav);
	color:var(--link-nav);
	text-decoration:none;
}

section {
	padding:2em;
	max-width:950px;
	box-shadow:0 1px 4px var(--background-body);
	background:var(--background);
	margin:1em auto;
}


.table-of-contents {
	background:var(--background-body);
	padding:.5em;
	margin-top:.5em;
	border:1px solid var(--borders);
	padding-left:-50px;
}

.table-of-contents, .table-of-contents ul, .table-of-contents ul ul, .table-of-contents ul ul ul, .table-of-contents ul ul ul ul, .table-of-contents ul ul ul ul ul, .table-of-contents ul ul ul ul ul ul {
	list-style:none;
	margin-left:-25px;
}
.table-of-contents h1, .table-of-contents h1 {
	font-size:1.5em;
}

ul.table-of-contents {
	counter-reset:one two three four;
}

ul.table-of-contents ul {
	counter-reset:two three four;
}

ul.table-of-contents ul ul {
	counter-reset:three four;
}

ul.table-of-contents ul ul ul {
	counter-reset:four;
}

ul.table-of-contents ul ul ul ul {
	counter-reset:five;
}

ul.table-of-contents ul ul ul ul ul {
	counter-reset:six;
}

.table-of-contents li:before {
	counter-increment:one;
	content:counter(one) ".";
}

.table-of-contents li li:before {
	counter-increment:two;
	content:counter(one) "." counter(two);
}

.table-of-contents li li li:before {
	counter-increment:three;
	content:counter(one) "." counter(two) "." counter(three);
}

.table-of-contents li li li li:before {
	counter-increment:four;
	content:counter(one) "." counter(two) "." counter(three) "." counter(four);
}

.table-of-contents li li li li li:before {
	counter-increment:four;
	content:counter(one) "." counter(two) "." counter(three) "." counter(four) "." counter(five);
}

.table-of-contents li li li li li li:before {
	counter-increment:four;
	content:counter(one) "." counter(two) "." counter(three) "." counter(four) "." counter(five) "." counter(six);
}

article header h1 {
	border-bottom:1px solid var(--text-color);
}

article main a[href^="http"]:after {
	 content: " "  "\2924";
	color:var(--link-color);
}

h1 {
	font-size:2.5em;
}

h2 {
	font-size:1.9em;
}

h3 {
	font-size:1.6em;
}

h4 {
	font-size:1.35em;
}

h5 {
	font-size:1.2em;
}

h6 {
	font-size:1.15em;
}

hr {
	border:solid;
	border-width:1px 0 0;
	box-sizing:content-box;
	height:0;
	margin:1.5em 0;
}

big {
	font-size:1.25em;
}

small,sub,sup {
	font-size:.875em;
}

sub {
	top:.5ex;
	vertical-align:bottom;
}

sup {
	bottom:1ex;
	vertical-align:top;
}

mark,:target {
	background:var(--highlight);
	color:var(--highlight-text);
}

.diff ins {
	background:var(--diff-add);
	color:var(--diff-add-text);
	text-decoration:none;
}

.diff del {
	background:var(--diff-del);
	color:var(--diff-del-text);
	text-decoration:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:"";
}

blockquote em,blockquote i {
	font-style:normal;
}

blockquote {
	background:var(--background-body);
	border-left:5px solid var(--borders);
	margin-bottom:1em;
	padding:1em 1em 1em 5em;
}

blockquote cite,abbr {
	font-variant:small-caps;
}

blockquote,q,cite,i,em {
	font-style:italic;
}

abbr,acronym,dfn {
	border-bottom:1px dotted;
	cursor:help;
	font-style:normal;
	font-variant:small-caps;
}

abbr[title] {
	border-bottom:dotted 1px;
	cursor:help;
}

table {
	border-collapse:collapse;
	margin-bottom:2rem;
	max-width:100%;
	table-layout:fixed;
	vertical-align:middle;
	width:100%;
}


td,th {
	border:1px solid;
	cursor:default;
	min-width:2rem;
	padding:.25em .5em;
	vertical-align:middle;
}

@media (max-width: 500px) {
	td:before {
		content:attr(data-title);
		position:absolute;
		top:0;
		left:0;
		width:45%;
		height:100%;
		white-space:nowrap;
		text-overflow:ellipsis!important;
		overflow:hidden!important;
		text-align:left;
		padding:2px;
	}

	table,thead,tbody,th,td,tr {
		display:block;
	}

	thead tr {
		display:none;
	}

	td {
		position:relative;
		padding-left:50%!important;
		white-space:normal;
		text-align:right;
	}
}

caption {
	padding:0 0 1em;
}

code,.log {
	background-color:var(--background-body);
	font-family:menlo,monaco,consolas,"courier new",monospace;
	font-style:normal;
	line-height:normal;
	white-space:pre-wrap;
}
code {
	display:inline;
}
pre code, .log {
	display:block;
	display:block;
	padding:1em;
}
kbd {
	border:solid 1px;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
	padding:0 .25em;
}

ul,ol {
	padding:0 0 0 2em;
}

li {
	margin:0 0 0 2em;
}

li ul,li ol {
	margin:0;
}

figure {
	background:var(--background);
	border:var(--background-body) solid .125em;
	border-radius:8px;
	display:block;
	margin:auto auto 1em;
	overflow:auto;
}

figure img, img {
	display:block;
	margin:auto;
	max-width:96%;
}

figcaption {
	background:var(--background-body);
	border-radius:0 0 7px 7px;
	color:var(--highlight-text);
	font-size:.8em;
	padding:.125em .5em;
	text-align:center;
}

fieldset {
	box-sizing: content-box;
	border:1px solid var(--borders);
	padding:1em;
}

label {
	cursor:pointer;
	display:block;
	vertical-align:middle;
}

legend {
	border:0;
	font-weight:700;
	padding:0 .25em;
	white-space:normal;
}
input[type="text"],input[type="password"],input[type="email"],input[type="number"] {
	margin:auto;
	width:100%;
}

textarea {
	min-height:5em;
	resize:vertical;
	vertical-align:top;
	width:100%;
}
.CodeMirror {
	 font-family:monospace !important;
	 border: 1px solid var(--borders) !important;
}
.EasyMDEContainer .editor-toolbar, 
.CodeMirror, .EasyMDEContainer .editor-toolbar button, .editor-toolbar button i  {
	 color:var(--text-color) !important;
	background:var(--background) no-repeat !important;
}

form {
	margin:0 auto;
}

input,textarea, select, option {
	box-sizing: border-box;
	display:block;
	width:100%;
	border: 1px solid var(--borders);
	border-radius:6px;
	padding: 10px;
	color:var(--text-color);
	background:var(--background) no-repeat;
	background-image:linear-gradient(to bottom,var(--main-color),var(--main-color)),linear-gradient(to bottom,silver,silver);
	background-size:0 2px,100% 1px;
	background-position:50% 100%,50% 100%;
	transition:background-size .3s cubic-bezier(0.64,0.09,0.08,1);
}
input[disabled] {
background: var(--background-body);
}
input[type=radio],input[type=checkbox] {
	display:inline;
	width:inherit;
	height: 1em;
    width: 1em;
    color: var(--background);
    border: var(--borders);
}

input:focus,textarea:focus {
	background-size:100% 2px,100% 1px;
	outline:none;
}

input[type=color] {
	height:1em;
	padding:1em;
}

input[type=button],input[type=image],input[type=reset],input[type=submit],button[type=reset],button[type=submit], a.button {
	box-sizing: content-box;
	cursor:pointer;
	border:none;
	background:var(--main-color);
	padding:10px;
	color:var(--link-nav);
	margin:auto;
	margin-top:1em;
	margin-bottom:1em;
	text-align:center;
	max-width:99%;
}

input[type=button]:hover,input[type=image]:hover,input[type=reset]:hover,input[type=submit]:hover,button[type=reset]:hover,button[type=submit]:hover, a.button:hover {
	box-shadow:0 6px 6px 0 rgba(0,0,0,0.2);
}

.log {
	border:1px solid var(--borders);
	max-height:500px;
	overflow:hidden;
	max-height:500px;
}

.log:hover,.log:focus {
	overflow-y:auto;
}

@media (max-width: 885px) {
	nav {
		flex-direction:column;
		text-align:center;
		box-sizing:content-box;
	}
	time:after {
		content:" " attr(title);
	}
}

